header {
  position: sticky;
  top: 0;
  z-index: 100;
  .header-background {
    background-color: aliceblue;
    filter: contrast(50%) grayscale(20%);
    opacity: 0.5;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }
  .barWrapper {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding: 15px;
    padding-left: 2vmax;
    padding-right: 2vmax;
    display: flex;
    justify-content: center;
    z-index: 3;
    .innerContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100svw;
      min-width: 325px;
      .titleNavWrapper {
        width: clamp(200px, 95%, 100%);
        .logo {
          display: flex;
          align-items: center;
          width: 100%;
          .unity-logo-wrapper,
          .unity-name-wrapper {
            display: flex;
            height: 60px;
            margin-right: 10px;
          }
          .unity-name-wrapper {
            img {
              width: 100%;
            }
          }
          .photoUrl-displayName-wrapper {
            display: flex;
            img {
              border-radius: 50%;
              width: 60px;
              margin-right: 10px;
            }
            div {
              font-size: 20px;
              font-weight: 600;
              align-self: center;
            }
          }
        }
      }
      .navbar-wrapper {
        width: 100%;
        display: flex;
        justify-content: end;
        a {
          margin: 10px;
        }
      }
      .acions-logout-wrapper {
        display: flex;
        align-items: center;
        height: 100%;
        .social {
          display: flex;
          justify-content: end;
          margin-right: 20px;
          a {
            margin: 5px;
            width: 35px;
            height: 35px;
            img {
              width: 35px;
              &:hover {
                scale: 1.25;
                transition: 0.3s;
              }
            }
          }
          .logout-button-wrapper {
            display: flex;
            justify-content: center;
            margin-left: 20px;
          }
        }
      }
      .header-burger {
        display: flex;
        justify-content: center;
        width: clamp(50px, 75%, 5%);
        height: 100%;
        button {
          background-color: transparent;
          border: none;
          display: flex;
          justify-content: center;
          align-items: center;
          .burger-box {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            aspect-ratio: 4/2;
            .burger-inner {
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              div {
                height: 2px;
                background-color: black;
              }
            }
          }
          .close-burger-menu {
            font-size: 20px;
            font-weight: 600;
            border: 1px solid black;
            border-radius: 50%;
            padding: 5px;
            background-color: #dbdcdd;
            width: 19px;
            height: 19px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
              background-color: #693575;
              color: white;
              border: none;
            }
          }
        }
      }
      .burger-actions-logout-wrapper {
        display: flex;
        align-items: center;
        padding: 7.5px;
        box-sizing: border-box;
        justify-content: space-between;
        .social {
          display: flex;
          a {
            margin: 5px;
            width: 35px;
            height: 35px;
            img {
              width: 35px;
              &:hover {
                scale: 1.25;
                transition: 0.3s;
              }
            }
          }
        }
      }
    }
  }
}
