body {
  margin: 0 auto;
  --normal-text-size-value: 1.25;
}

@keyframes fillUp {
  from {
    height: -100%;
  }
  to {
    height: 0;
  }
}

header,
main,
footer {
  width: 100svw;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10svh;
}
h1 {
  font-size: clamp(21px, 2.5vw, 27px);
  margin: 1.5vmax 1vmax;
}

.regular-button {
  background-color: #3789b7;
  padding: 0 1vmax;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: clamp(14px, 1.5vw, 18px);
  font-weight: 600;
  box-sizing: border-box;
  white-space: nowrap;
  height: 40px;
  width: 100%;
  cursor: pointer;
  &:hover {
    background-color: #693575;
    scale: 1.1;
    transition: 0.5s;
  }
}
.regular-button[disabled] {
  background-color: gainsboro;
  scale: 1;
}

main {
  min-height: 80svh;
  align-items: start;
  article {
    section {
      form {
        width: clamp(325px, 65vw, 640px);
        .sign-logo-wrapper {
          justify-content: center;
          display: flex;
          margin-bottom: -30px;
          z-index: 5;
          img {
            width: 60px;
            aspect-ratio: 1/1;
            background-color: white;
            border-radius: 50%;
            box-sizing: border-box;
            padding: 5px;
            // background-image: url("/photos/UnityLogoCuted.png");
            // background-size: 100% 100%;
            // &:hover {
            //   background-image: url("/photos/PhilLogo.JPG");
            //   background-size: 105% 100%;
            // }
          }
        }
        .email-wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 20px;
          box-sizing: border-box;
          background-color: #693575;
          border-radius: 15px;
          color: white;
          .form-button-wrapper {
            display: flex;
            justify-content: center;
            margin: 20px 0 0 0;
            width: 100%;
            button {
              &:hover {
                box-sizing: border-box;
                border: 1px solid white;
                scale: 1;
              }
            }
          }
          h2 {
            font-weight: 600;
            margin: 25px 0 10px 0;
          }
          // Auth
          .auth-wrapper {
            width: 100%;
            .email-field-content {
              display: flex;
              flex-direction: column;
              width: 100%;
              margin: 8px 0 16px 0;
              label {
                margin-bottom: 5px;
                font-size: clamp(14px, 2vw, 17px);
              }
              input {
                height: 32px;
                border-radius: 4px;
                padding: 0 10px;
              }
            }
          }
          // Form
          .sendForm-wrapper,
          // PlayerInfo
          .playerInfo-wrapper {
            padding: 5px 10px 5px 10px;
            border: 1px solid black;
            width: 100%;
            background-color: white;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: black;
            fieldset {
              width: 100%;
              box-sizing: border-box;
              color: #000;
            }
            .iframe-wrapper {
              width: 95%;
              display: flex;
              flex-direction: column;
              align-items: center;
              .confirm-wrapper {
                display: flex;
                margin-bottom: 2.5%;
                flex-direction: column;
                width: 90%;
                align-items: center;
                div {
                  margin: 5px 0;
                  font-size: clamp(13px, 2.5vw, 16px);
                }
              }
              button {
                margin: 2.5% 2.5% 0 2.5%;
              }
              iframe {
                width: inherit;
                aspect-ratio: 16/9;
                margin-top: 2.5%;
                border: none;
              }
            }
            .playerInfo-fields {
              display: flex;
              justify-content: space-between;
              align-items: center;
              font-size: clamp(16px, 2.5vw, 19.33px);
              color: #000;
              padding: 5px 1vw 5px 2vw;
              width: 100%;
              box-sizing: border-box;
              button {
                background-color: transparent;
                border: none;
                margin-left: 10px;
              }
              img {
                width: 20px;
              }
            }
            .nav-buttons {
              display: flex;
              width: 100%;
              button {
                margin: 2.5%;
              }
            }
            .download-button-wrapper {
              display: flex;
              justify-content: end;
              width: 100%;
              padding: 10px 1vw 5px 2vw;
              box-sizing: border-box;
              button {
                width: clamp(35px, 4vw, 45px);
                aspect-ratio: 1/1;
                display: flex;
                justify-content: center;
                background-color: transparent;
                border: 1px solid transparent;
                &:hover {
                  background-color: greenyellow;
                }
                img {
                  object-fit: contain;
                  width: 100%;
                  width: clamp(35px, 4vw, 45px);
                }
              }
            }
            .player-photo-wrapper {
              display: flex;
              justify-content: center;
              img {
                width: clamp(250px, 85%, 375px);
                object-fit: contain;
                mix-blend-mode: darken;
              }
            }
            label {
              font-weight: 600;
              margin: 0.5vh 0.5vw;
            }
            fieldset {
              legend {
                font-size: clamp(16px, 2vw, 20px);
                span:first-child {
                  color: black;
                  opacity: 1;
                }
                span {
                  color: red;
                  margin-right: 5px;
                  opacity: 0.5;
                }
              }
              .measure-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                div {
                  font-size: 20px;
                }
              }
              input {
                padding: 7.5px;
                width: 100%;
                font-size: 16px;
                border-radius: 10px;
                border: none;
                margin-right: 5px;
                color: #000;
              }
              select {
                border: none;
                background-color: #3789b7;
                color: white;
                font-size: clamp(14px, 2vw, 18px);
                padding: 10px;
                padding-left: 20px;
                padding-right: 20px;
                border-radius: 25px;
                font-weight: 600;
                text-align: center;
                &:hover {
                  scale: 1.1;
                  transition: 0.5s;
                  background-color: #693575;
                }
                option {
                  display: flex;
                  justify-content: center;
                }
              }
            }
          }
          .btn-submit-wrapper {
            width: 100%;
            display: flex;
            margin-bottom: 16px;
          }
        }
        .border-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 0 10px 0;
          width: 100%;
          label {
            padding: 4px;
            width: 6%;
            text-align: center;
            font-size: clamp(14px, 2vw, 17px);
          }
          div {
            width: 45%;
            height: 1px;
            background-color: white;
          }
        }
        .google-button-wrapper {
          width: 100%;
          button {
            div {
              display: flex;
              font-size: 14px;
              justify-content: center;
              img {
                width: 16px;
                aspect-ratio: 1/1;
                margin-right: 10px;
              }
            }
            &:hover {
              scale: 1;
              box-sizing: border-box;
              border: 1px solid white;
              box-sizing: border-box;
            }
          }
        }
      }
      // Table
      .table-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 2vw;
        h1 {
          width: 100%;
          text-align: center;
        }
        table {
          width: clamp(325px, 100%, 1300px);
          table-layout: fixed;
          caption {
            padding-bottom: 1vmax;
            nav {
              display: grid;
              grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
              justify-content: center;
              gap: 1vmax;
            }
          }
          tbody {
            tr {
              th {
                border: 1px solid black;
                box-sizing: border-box;
                button {
                  border: none;
                  width: 100%;
                  padding: 1.5vmax 0.6vmax;
                  font-size: clamp(12px, 2vw, 20px);
                  white-space: nowrap;
                  font-weight: 600;
                  background-color: #693575;
                  color: white;
                  overflow: hidden;
                  &:hover {
                    background-color: #3789b7;
                  }
                }
              }
            }
            .rating-row {
              td {
                text-align: center;
                padding: 1vmin;
                border: 1px solid black;
                font-size: clamp(12px, 3vw, 20px);
                // white-space: nowrap;
                font-weight: 600;
                overflow: hidden;
                box-sizing: border-box;
              }
            }
          }
        }
      }
    }
  }
}
